:root {
    --background: #242629;
    --backgroundMain: #c1c1c1; 
    --text: #94a1b2;
    --button: #2cb67d;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--backgroundMain);
    font-family: sans-serif;
}

/*///////////////////NAVBAR///////////////////*/
.header-container {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--background);
    color: var(--text);
}
.logo {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-left: 4rem;
    font-size: 1.5rem;
}
.menu-container {
    display: flex;
}
.menu-list {
    display: flex;
    list-style: none;
    gap: 2rem;
}
.menu-list a {
    text-decoration: none;
    color: whitesmoke;
}
.abrir-menu, .cerrar-menu {
    display: none;
    height: fit-content;
    align-self: center;
}

/*///////////////////PRESENTATION///////////////////*/
.presentation {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    padding: 1rem;
    background-image: url('./assets/');
}
.presentation h1 {
    font-size: 2rem;
    margin-bottom: 0;
}
.presentation p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.action-button {
    text-decoration: none;
    color: var(--background);
    border: 1px solid var(--button);
    border-radius: 5px;
    padding: 8px 10px;
    background-color: var(--button);
    width: fit-content;
    cursor: pointer;
}
/*///////////////////SERVICES///////////////////*/
.services {
    padding: 1rem;
}
.service-card {
    border: 2px solid var(--button);
    border-radius: 6px;
    background-color: var(--background);
    color: var(--text);
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}
/*///////////////////ABOUT///////////////////*/
.about-container {
    padding: 1rem;
    font-size: 1.2rem;
}
/*///////////////////WORK///////////////////*/
.work-container {
    padding: 1rem;
}
/* .work-card {
    border: 2px solid var(--button);
    border-radius: 6px;
    background-color: var(--background);
    color: var(--text);
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
} */
/*///////////////////FORM///////////////////*/
.form-container {
    padding: 1rem;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid var(--button);
    border-radius: 6px;
    background-color: var(--background);
    color: var(--text);
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}
.form input {
    padding: 0.5rem 1rem;
}
.form button {
    width: fit-content;
    align-self: center;
    padding: 0.5rem 1rem;
    border-radius: 6px;
}
/*///////////////////FOOTER///////////////////*/
footer {
    background-color: var(--background);
    font-size: 1rem;
    color: var(--text);
    padding: 1rem;
}
/*///////////////////////MEDIA QUERIS///////////////////*/
@media (max-width: 750px) {
    
    /*----------------MENU----------------*/
    .abrir-menu, .cerrar-menu {
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        color: var(--backgroundMain);
        cursor: pointer;
    }
    .menu-container {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: var(--background);
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        font-size: 1.5rem;
    }
    .menu-container.visible {
        opacity: 1;
        visibility: visible;
    }
    .menu-list {
        flex-direction: column;
        align-items: center;
        padding: 40px 60px;
    }
}